
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>

</head>
<body class="container">
    <img src="~/Images/Book.jpg" class="logo" alt="logo" />
    <button type="button" value="Click Me" class="btn-danger"></button>
    <h1>Welcome to BookStore Application</h1>
    <p>This is home page of our bookstore application</p>
</body>
</html>

<script>
    $(document).ready(function () {
        alert("Page loaded");
    })
</script>
